.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 70rem;
}

footer {
  margin-top: 3%;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

footer p {
  margin-bottom: .25rem;
}

.landing-header{
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-size: 4em;
  line-height: 1.2em;
  font-family: 'Circular',sans-serif;
  font-weight: 400;
  text-align: center;
}

.about-image{
  margin-left: 18%;
  padding-bottom: 5%;
  padding-top: 2%;
}
.about-header{
  font-size: 4em;
  line-height: 1.2em;
  font-family: "Lora",Sans-serif;
  font-style: italic;
  font-weight: 400;
  text-align: center;
}

.about-design-header{
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  font-style: normal;
  font-weight: 600;
  text-align: center;
}

.about-text{
  font-size: 20px;
  padding-bottom: 2%;
}

.contact-icons-list{
  list-style: none;
  text-align: center;
}

.contact-icons-list li{
  font-size: 30px;
  padding-right: 5%;
  display: inline;
}

.contact-icons-list li a{
  color: black;
}
