.vayam{
    background-color: #f6f4f6;
}
.cover-div{
    height: 45em;
}
@media (max-width: 768px) {
    .cover-div{
        height: 30em;
    }
  }

@media (max-width: 480px){
    .cover-div{
        height: 18em;
    }
}
.cover-image{
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cover-header{
    position: absolute;
    left: 50%;
    padding-left: 5%;
    padding-bottom: 3%;
    padding-top: 3%;
    width: 100%;
    bottom: 6.5%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    /* background: -webkit-gradient(linear,left top,left bottom,from(transparent),to(rgba(0,0,0,.7)));
    background: -webkit-linear-gradient(transparent,rgba(0,0,0,.7));
    background: -o-linear-gradient(transparent,rgba(0,0,0,.7));
    background: linear-gradient(transparent,rgba(0,0,0,.7)); */
}

@media (max-width: 1024px) {
    .cover-header{
        bottom: 45.5%;
    }
}
@media (max-width: 768px) {
    .cover-header{
        bottom:30%;
    }
}

@media (max-width: 480px) {
    .cover-header{
        bottom: 28%;
    }
}

.subject{
    padding-top: 2%;
}

.project-list{
    list-style: none;
    padding-top: 4%;
    padding-left: 10%;
    padding-right:10%;
}

.project-list-border {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    border: #cccccc ;
    border-radius: 4px;
    border-style: solid;
    border-width: 1.5px;
    overflow: hidden;
}

.project-info-title{
    font-size: 18px;
    font-family: inherit;
    font-weight: 500;
    margin-bottom: 4px;
    line-height: 1.6em;
}

.vayam .project-info-title{
    color: #915c91;
}
.project-info{
    font-size: 12px;
    line-height: 1.5em;
    word-break: break-all;
    margin-bottom: 1em;
}

.project-desc h4{
    font-size: 24px;
    font-family: inherit;
    font-weight: 500;
    margin-bottom: 4%;
    text-align: justify;
}

.vayam-desc{
    color: #915c91;
}

.project-desc p{
    color: gray;
}
.project-image{
    padding-top: 3%;
    padding-bottom: 3%;
}